@page "/components/code"

<PageTitle>Code</PageTitle>

<h3>Code</h3>
Example <code>code block</code> with surrounding content
<pre><code>full code section within &lt;pre&gt; tags<br />with multiple lines</code></pre>
