@page "/components/combobox"

<PageTitle>ComboBox</PageTitle>
<h1>ComboBox component</h1>

<h5>Single selection</h5>
<ComboBox Items="Items" @bind-CurrentItem="CurrentItem" ItemValue="item => item?.Value" />
<div>Selected: @CurrentItem?.Value</div>
<Example Identifier="Components.ComboBoxSingleSelection" />

<h5>Multiple selection</h5>
<ComboBox Multiple Items="Items" Selection="Selection" ItemValue="item => item?.Value" />
<div>Selected: @string.Join(", ", Selection.Select(item => item.Value))</div>
<Example Identifier="Components.ComboBoxMultipleSelection" />
