@page "/components/form"

<PageTitle>Form</PageTitle>

<h3>Form</h3>
<form style="display: flex; flex-direction: column; gap: 1rem">
    <fieldset>
        <label>Color</label>
        <input type="color" value="#ca4d9b" />
    </fieldset>
    <fieldset>
        <label>Date</label>
        <input type="date" />
    </fieldset>
    <fieldset>
        <label>DateTime</label>
        <input type="datetime" value="3-7-2024 13:37" />
    </fieldset>
    <fieldset>
        <label>DateTime Local</label>
        <input type="datetime-local" />
    </fieldset>
    <fieldset>
        <label>Email</label>
        <input type="email" value="example@mail.com" />
    </fieldset>
    <fieldset>
        <label>Month</label>
        <input type="month" />
    </fieldset>
    <fieldset>
        <label>Number</label>
        <input type="number" value="42" />
    </fieldset>
    <fieldset>
        <label>Password</label>
        <input type="password" value="Example password" />
    </fieldset>
    <fieldset>
        <label>Search</label>
        <input type="search" value="Example text" />
    </fieldset>
    <fieldset>
        <label>Tel</label>
        <input type="tel" value="06-12345678" />
    </fieldset>
    <fieldset>
        <label>Text</label>
        <input type="text" value="Example text" />
    </fieldset>
    <fieldset>
        <label>Url</label>
        <input type="url" value="https://localhost:7246/" />
    </fieldset>
    <fieldset>
        <label>Week</label>
        <input type="week" />
    </fieldset>
    <fieldset>
        <label>Textarea</label>
        <textarea>Example text</textarea>
    </fieldset>
    <fieldset>
        <label>Select</label>
        <select>
            <option>Example select</option>
        </select>
    </fieldset>
    <fieldset>
        <input type="checkbox" id="check" />
        <label for="check">Example checkbox</label>
    </fieldset>
    <fieldset>
        <input type="radio" id="radio" />
        <label for="radio">Example radio</label>
    </fieldset>
</form>
