@page "/components/input"
@using System.Drawing

<PageTitle>Input</PageTitle>
<h1>Input component</h1>

<h5>Color</h5>
<Input @bind-Value="Color" />
<Example Identifier="Components.InputColor" />

<h5>Date</h5>
<Input Type="InputType.Date" @bind-Value="DateTime" />
<Example Identifier="Components.InputDate" />

<h5>DateTime</h5>
<Input @bind-Value="DateTime" />
<Example Identifier="Components.InputDateTime" />

<h5>Email</h5>
<Input Type="InputType.Email" Placeholder="Email" @bind-Value="Text" />
<Example Identifier="Components.InputEmail" />

<h5>Month</h5>
<Input Type="InputType.Month" @bind-Value="DateTime" />
<Example Identifier="Components.InputMonth" />

<h5>Number</h5>
<Input Minimum="0" Maximum="100" Step="2" @bind-Value="Number" />
<Example Identifier="Components.InputNumber" />

<h5>Password</h5>
<Input Type="InputType.Password" @bind-Value="Text" />
<Example Identifier="Components.InputPassword" />

<h5>Range</h5>
<Input Type="InputType.Range" Minimum="0" Maximum="100" Step="2" @bind-Value="Number" />
<Example Identifier="Components.InputRange" />

<h5>Search</h5>
<Input Type="InputType.Search" @bind-Value="Text" />
<Example Identifier="Components.InputSearch" />

<h5>Telephone</h5>
<Input Type="InputType.Telephone" @bind-Value="Text" />
<Example Identifier="Components.InputTelephone" />

<h5>Text</h5>
<Input @bind-Value="Text" />
<Example Identifier="Components.InputText" />

<h5>Time</h5>
<Input Type="InputType.Time" @bind-Value="DateTime" />
<Example Identifier="Components.InputTime" />

<h5>Url</h5>
<Input Type="InputType.Url" @bind-Value="Text" />
<Example Identifier="Components.InputUrl" />

<h5>Week</h5>
<Input Type="InputType.Week" @bind-Value="DateTime" />
<Example Identifier="Components.InputWeek" />

@code {
    private Color Color { get; set; } = Color.Orange;

    private DateTime DateTime { get; set; } = DateTime.Now;

    private int Number { get; set; } = 42;

    private string Text { get; set; } = "example text";
}
