<Popper @bind-Expanded="Expanded" CollapseOnFocusLost>
    <Trigger>Example trigger</Trigger>
    <Content>
        <button @onclick="() => Expanded = false">Close</button><br />
        Example content<br />
        Example content<br />
        Example content
    </Content>
</Popper>

@code {
    private bool Expanded { get; set; }
}