@page "/modifiers/defer"

<PageTitle>Defer</PageTitle>
<h2>Defer</h2>
<p>Uitleg</p>

<h4>Example</h4>
<p>Uitleg</p>
<div class="defer-example">
    <Defer>
        <div>Example content</div>
    </Defer>
</div>
<Example Identifier="Modifiers.Defer.Example" />
