@page "/modifiers/defer"

<PageTitle>Defer</PageTitle>
<h2>Defer</h2>
<p>Surround your markup with <code>Defer</code> to ensure that it's rendered after preceding Blazor routines.</p>

<h4>Example</h4>
<p>Just encapsulate your markup with a <code>Defer</code> component.</p>
<div class="defer-example">
    <Defer>
        <div>Example content</div>
    </Defer>
</div>
<Example Identifier="Modifiers.Defer.Example" />
