@page "/modifiers/fill"

<PageTitle>Fill</PageTitle>
<h2>Fill</h2>
<p>Uitleg</p>

<h4>Example</h4>
<p>Uitleg</p>
<div class="fill-example">
    <Stack Orientation="Orientation.Horizontal">
        <label>Left</label>
        <Fill>
            <label>Center (surrounded by Fill)</label>
        </Fill>
        <label>Right</label>
    </Stack>
</div>
<Example Identifier="Modifiers.Fill.Example" />
