@page "/modifiers/fill"

<PageTitle>Fill</PageTitle>
<h2>Fill</h2>
<p>Use <code>Fill</code> to stretch its contents out so it fills the remaining space.</p>

<h4>Example</h4>
<p>Encapsulate your markup with a <code>Fill</code> component. The example below does that for the second element in a <code>Stack</code> component.</p>
<div class="fill-example">
    <Stack Orientation="Orientation.Horizontal">
        <label>Left</label>
        <Fill>
            <label>Center (surrounded by Fill)</label>
        </Fill>
        <label>Right</label>
    </Stack>
</div>
<Example Identifier="Modifiers.Fill.Example" />
