@page "/modifiers/shadow"

<PageTitle>Shadow</PageTitle>
<h2>Shadow</h2>
<p>Surround an element with <code>Shadow</code> to create a drop shadow.</p>

<h4>Normal</h4>
<p>Surround your code with a <code>Shadow</code> component. That drop shadow is added to that element.</p>
<div class="shadow-example">
    <Shadow>
        <div>Example content</div>
    </Shadow>
</div>
<Example Identifier="Modifiers.Shadow.Normal" />

<h4>Small</h4>
<p>Create a smaller drop shadow by adding the <code>Small</code> property.</p>
<div class="shadow-example">
    <Shadow Small>
        <div>Example content</div>
    </Shadow>
</div>
<Example Identifier="Modifiers.Shadow.Small" />

<h4>Members of <code>Shadow</code></h4>
<p>TBD</p>
