@page "/modifiers/shadow"

<PageTitle>Shadow</PageTitle>
<h2>Shadow</h2>
<p>Uitleg</p>

<h4>Normal</h4>
<p>Uitleg</p>
<div class="shadow-example">
    <Shadow>
        <div>Example content</div>
    </Shadow>
</div>
<Example Identifier="Modifiers.Shadow.Normal" />

<h4>Small</h4>
<p>Uitleg</p>
<div class="shadow-example">
    <Shadow Small>
        <div>Example content</div>
    </Shadow>
</div>
<Example Identifier="Modifiers.Shadow.Small" />
