@page "/modifiers/stick"

<PageTitle>Stick</PageTitle>
<h2>Stick</h2>
<p>Uitleg</p>

<h4>Top aligned</h4>
<p>Uitleg</p>
<div class="defer-example">
    <Stick>
        Example content
    </Stick>
</div>
<Example Identifier="Modifiers.Stick.Top" />

<h4>Bottom aligned</h4>
<p>Uitleg</p>
<div class="defer-example">
    <Stick Alignment="Alignment.Bottom">
        Example content
    </Stick>
</div>
<Example Identifier="Modifiers.Stick.Bottom" />
