@page "/modifiers/stick"

<PageTitle>Stick</PageTitle>
<h2>Stick</h2>
<p>Use <code>Stick</code> to give an element a sticky position. The header above is surrounded with a <code>Stick Top</code> component.</p>

<h4>Top aligned</h4>
<p>Add the <code>Top</code> property to stick the encapsulated element to the parent's top.</p>
<div class="stick-example">
    <Stick Top>
        <div>Example content</div>
    </Stick>
</div>
<Example Identifier="Modifiers.Stick.Top" />

<h4>Bottom aligned</h4>
<p>Add the <code>Bottom</code> property to stick the encapsulated element to the parent's bottom.</p>
<div class="stick-example">
    <Stick Bottom>
        <div>Example content</div>
    </Stick>
</div>
<Example Identifier="Modifiers.Stick.Bottom" />

<h4>Members of <code>Stick</code></h4>
<Members Context="typeof(Stick)" />
