<Stack Orientation="Orientation.Horizontal">
    <label>Example item 1</label>
    <label>Example item 2</label>
    <label>Example item 3</label>
    <label>Example item 4</label>
    <label>Example item 5</label>
</Stack>