@page "/layout/stack"

<PageTitle>Stack</PageTitle>
<h1>Stack layout</h1>

<h5>Vertical</h5>
<div style="height: 160px">
    <Stack>
        <label>Item 1</label>
        <Fill>
            <label>Item 2</label>
        </Fill>
        <label>Item 3</label>
        <label>Item 4</label>
    </Stack>
</div>
<Example Identifier="Layout.StackVertical" />

<h5>Horizontal</h5>
<div style="height: 160px">
    <Stack Orientation="StackOrientation.Horizontal">
        <label>Item 1</label>
        <Fill>
            <label>Item 2</label>
        </Fill>
        <label>Item 3</label>
        <label>Item 4</label>
    </Stack>
</div>
<Example Identifier="Layout.StackHorizontal" />
