<ThemeHost FixedTheme="dark">
    <div class="button-container">
        <button>Example button</button>
    </div>
</ThemeHost>

<ThemeHost FixedTheme="light">
    <div class="button-container">
        <button>Example button</button>
    </div>
</ThemeHost>