<Selector Context="selection" Selection="SelectedItems" Multiple>
    <Stack>
        @foreach (var item in Items)
        {
            <div class="@GetItemClass(selection.IsActive(item))" @onclick="() => selection.Toggle(item)" @key="item">@item</div>
        }
    </Stack>
</Selector>