<Selector Context="selection" Selection="SelectedItems">
    <Stack>
        @foreach (var item in Items)
        {
            <div class="@GetItemClass(selection.IsActive(item))" @onclick="() => selection.Activate(item)" @key="item">@item</div>
        }
    </Stack>
</Selector>

@code {
    private string[] Items { get; } = ...;
    private ObservableCollection<string> SelectedItems { get; } = [];
}