@property --value {
    inherits: false;
    initial-value: 0;
    syntax: "<number>";
}

.gauge {
    overflow: hidden;
    position: relative;
}

    .gauge > .gauge-backdrop,
    .gauge > .gauge-entity {
        aspect-ratio: 1;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        transform-origin: center;
    }

    .gauge.circle {
    }

        .gauge.circle > .gauge-backdrop {
            background-color: rgba(var(--color), .3);
            border-radius: 50%;
            transform: translateX(50%);
        }

        .gauge.circle > .gauge-entity {
            --lt-25: round(up, .25 - var(--value-factor));
            --gt-25: calc(1 - var(--lt-25));
            --lt-50: round(up, .50 - var(--value-factor));
            --gt-50: calc(1 - var(--lt-50));
            --lt-75: round(up, .75 - var(--value-factor));
            --gt-75: calc(1 - var(--lt-75));
            --angle: calc(var(--value-factor) * 360 - (90 * (var(--gt-25) + var(--gt-50) + var(--gt-75))));
            --angle-alpha: calc((90 - var(--angle)) * pi / 180);
            --angle-beta: calc(var(--angle) * pi / 180);
            --pos-alpha: calc(sin(var(--angle-alpha)) * 50%);
            --pos-beta: calc(sin(var(--angle-beta)) * 50%);
            --value-factor: calc(var(--value) / (var(--value-max) - var(--value-min)));
            background-color: rgb(var(--color));
            border-radius: 50%;
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, max(50% + var(--pos-beta), var(--gt-25) * 100%) calc(50% - var(--pos-alpha) * var(--lt-25)), max(50%, var(--gt-25) * 100%) max(50%, var(--gt-25) * 100%), max(50% + var(--pos-alpha) * var(--gt-25), var(--gt-50) * 100%) max(50% + var(--pos-beta) * var(--gt-25) * var(--lt-50), var(--gt-50) * 100%), max(0%, var(--lt-50) * 50%) max(50%, var(--gt-50) * 100%), min(50% - var(--pos-beta) * var(--gt-75), 0%) calc(50% + var(--pos-alpha) * var(--gt-50) * var(--lt-75)), max(0%, var(--lt-75) * 50%) max(0%, var(--lt-75) * 50%), calc(50% - var(--pos-alpha) * var(--gt-75)) calc(50% - var(--pos-beta) * var(--gt-75)));
            transform: translateX(50%);
        }

    .gauge.ring {
        --size: 2rem;
    }

        .gauge.ring > .gauge-backdrop {
            border-radius: 50%;
            overflow: hidden;
            transform: translateX(50%);
        }

            .gauge.ring > .gauge-backdrop:after {
                border-radius: 50%;
                box-shadow: 0 0 0 100vw rgba(var(--color), .3);
                content: '';
                inset: var(--size);
                position: absolute;
            }

        .gauge.ring > .gauge-entity {
            --lt-25: round(up, .25 - var(--value-factor));
            --gt-25: calc(1 - var(--lt-25));
            --lt-50: round(up, .50 - var(--value-factor));
            --gt-50: calc(1 - var(--lt-50));
            --lt-75: round(up, .75 - var(--value-factor));
            --gt-75: calc(1 - var(--lt-75));
            --angle: calc(var(--value-factor) * 360 - (90 * (var(--gt-25) + var(--gt-50) + var(--gt-75))));
            --angle-alpha: calc((90 - var(--angle)) * pi / 180);
            --angle-beta: calc(var(--angle) * pi / 180);
            --pos-alpha: calc(sin(var(--angle-alpha)) * 50%);
            --pos-beta: calc(sin(var(--angle-beta)) * 50%);
            --value-factor: calc(var(--value) / (var(--value-max) - var(--value-min)));
            border-radius: 50%;
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, max(50% + var(--pos-beta), var(--gt-25) * 100%) calc(50% - var(--pos-alpha) * var(--lt-25)), max(50%, var(--gt-25) * 100%) max(50%, var(--gt-25) * 100%), max(50% + var(--pos-alpha) * var(--gt-25), var(--gt-50) * 100%) max(50% + var(--pos-beta) * var(--gt-25) * var(--lt-50), var(--gt-50) * 100%), max(0%, var(--lt-50) * 50%) max(50%, var(--gt-50) * 100%), min(50% - var(--pos-beta) * var(--gt-75), 0%) calc(50% + var(--pos-alpha) * var(--gt-50) * var(--lt-75)), max(0%, var(--lt-75) * 50%) max(0%, var(--lt-75) * 50%), calc(50% - var(--pos-alpha) * var(--gt-75)) calc(50% - var(--pos-beta) * var(--gt-75)));
            overflow: hidden;
            transform: translateX(50%);
        }

            .gauge.ring > .gauge-entity:after {
                border-radius: 50%;
                box-shadow: 0 0 0 100vw rgb(var(--color));
                content: '';
                inset: var(--size);
                position: absolute;
            }

    .gauge.tachometer {
        --rotation: -90deg;
    }

        .gauge.tachometer > .gauge-backdrop {
            background-color: rgba(var(--color), .3);
            border-radius: 50%;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
            transform: translateX(50%) translateY(25%);
        }

        .gauge.tachometer > .gauge-entity {
            --lt-25: round(up, .25 - var(--value-factor) / 2);
            --gt-25: calc(1 - var(--lt-25));
            --lt-50: round(up, .50 - var(--value-factor) / 2);
            --gt-50: calc(1 - var(--lt-50));
            --lt-75: round(up, .75 - var(--value-factor) / 2);
            --gt-75: calc(1 - var(--lt-75));
            --angle: calc(var(--value-factor) * 180 - (90 * (var(--gt-25) + var(--gt-50) + var(--gt-75))));
            --angle-alpha: calc((90 - var(--angle)) * pi / 180);
            --angle-beta: calc(var(--angle) * pi / 180);
            --pos-alpha: calc(sin(var(--angle-alpha)) * 50%);
            --pos-beta: calc(sin(var(--angle-beta)) * 50%);
            --value-factor: calc(var(--value) / (var(--value-max) - var(--value-min)));
            background-color: rgb(var(--color));
            border-radius: 50%;
            clip-path: polygon(50% 50%, 50% 0%, 100% 0%, max(50% + var(--pos-beta), var(--gt-25) * 100%) calc(50% - var(--pos-alpha) * var(--lt-25)), max(50%, var(--gt-25) * 100%) max(50%, var(--gt-25) * 100%), max(50% + var(--pos-alpha) * var(--gt-25), var(--gt-50) * 100%) max(50% + var(--pos-beta) * var(--gt-25) * var(--lt-50), var(--gt-50) * 100%), max(0%, var(--lt-50) * 50%) max(50%, var(--gt-50) * 100%), min(50% - var(--pos-beta) * var(--gt-75), 0%) calc(50% + var(--pos-alpha) * var(--gt-50) * var(--lt-75)), max(0%, var(--lt-75) * 50%) max(0%, var(--lt-75) * 50%), calc(50% - var(--pos-alpha) * var(--gt-75)) calc(50% - var(--pos-beta) * var(--gt-75)));
            transform: translateX(50%) translateY(25%) rotate(var(--rotation));
        }
