.pop-out {
    position: relative;
}

    .pop-out > .pop-out-content {
        position: absolute;
        top: auto;
        z-index: 20;
    }

    .pop-out:not(.active) > .pop-out-content {
        display: none;
    }
