<div class="scroller @ContainerClass">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired, Description("Content to be rendered.")]
    public required RenderFragment ChildContent { get; set; }

    private string ContainerClass => ClassList.Create("horizontal", Horizontal)
                                              .Add("vertical", Vertical);

    [Parameter, Description("Adds horizontal scroll support when true.")]
    public bool Horizontal { get; set; }

    [Parameter, Description("Adds vertical scroll support when true.")]
    public bool Vertical { get; set; }
}
