@page "/"

<PageTitle>Home</PageTitle>
<h2>Monad Component Library</h2>
<p>A lightweight RCL to help you quickly build apps.</p>

<h4>Single responsibility</h4>
<p>All components have just one responsibility and are clearly named.</p>

<h4>Modular</h4>
<p>Components can be combined so you can create more complex structures.</p>

<h4>No styling</h4>
<p>This framework contains virtually no styling so it can be easily combined with existing CSS frameworks.</p>
