@import 'normalize.css';

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code,
kbd,
pre,
samp {
    font-family: 'Cascadia Mono', 'Liberation Mono', 'Courier New', 'Courier', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    outline: 0;
}

html {
    box-sizing: border-box;
}
