.modal-example {
}

    .modal-example ::deep .modal {
        animation: modal .25s ease-out both;
        padding: 1rem;
    }

    .modal-example ::deep .modal-content {
        animation: modal-content .25s ease-out both;
        background-color: var(--md-bg);
        border-radius: .25rem;
        display: grid;
        min-height: 240px;
        min-width: 500px;
        padding: .25rem .5rem;
    }

        .modal-example ::deep .modal-content > .stack {
            gap: .5rem;
        }

            .modal-example ::deep .modal-content > .stack > .header,
            .modal-example ::deep .modal-content > .stack > .footer {
                display: flex;
                justify-content: center;
            }

            .modal-example ::deep .modal-content > .stack > .header {
                font-weight: 600;
            }

            .modal-example ::deep .modal-content > .stack > *:not(.header):not(.footer) {
                padding: .25rem .5rem;
            }

@keyframes modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal-content {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}
