.pop-out-example {
    width: 240px;
}

    .pop-out-example > ::deep .pop-out > .pop-out-content {
        margin-top: .25rem;
    }

        .pop-out-example > ::deep .pop-out > .pop-out-content > .shadow > div {
            background-color: var(--md-bg);
            border-radius: .25rem;
            padding: .25rem .5rem;
        }

    .pop-out-example > ::deep .pop-out > .pop-out-trigger {
        background-color: var(--md-bg);
        border-radius: .25rem;
        cursor: pointer;
        padding: .25rem .5rem;
        text-align: center;
        user-select: none;
    }

    .pop-out-example > ::deep .pop-out:not(.active) > .pop-out-trigger {
        background-color: var(--md-bg-active);
        color: var(--md-fg-active);
    }
