@page "/controls/popout"

<PageTitle>PopOut</PageTitle>
<h2>PopOut</h2>
<p>Create a pop-out view with the <code>PopOut</code> component.</p>

<h4>Example</h4>
<p>Use the <code>Trigger</code> fragment to define a trigger. When clicked the <code>Content</code> fragment will be shown.</p>
<div class="pop-out-example">
    <PopOut @bind-Expanded="Expanded" CollapseOnFocusLost>
        <Trigger>Example trigger</Trigger>
        <Content>
            <Shadow Small>
                <div>
                    <button @onclick="() => Expanded = false">Close</button><br />
                    Example content<br />
                    Example content<br />
                    Example content
                </div>
            </Shadow>
        </Content>
    </PopOut>
</div>
<Example Identifier="Controls.PopOut.Example" />

<h4>Members of <code>PopOut</code></h4>
<Members Context="typeof(PopOut)" />

@code {
    private bool Expanded { get; set; }
}
