@page "/controls/scroller"

<PageTitle>Scroller</PageTitle>
<h2>Scroller</h2>
<p>Use the <code>Scroller</code> component to surround your markup with scroll bars.</p>

<h4>Vertical</h4>
<p>Add the <code>Vertical</code> property to enable vertical scrolling.</p>
<div class="scroller-example">
    <Scroller Vertical>
        <Stack>
            <label>Example item 1</label>
            <label>Example item 2</label>
            <label>Example item 3</label>
            <label>Example item 4</label>
            <label>Example item 5</label>
        </Stack>
    </Scroller>
</div>
<Example Identifier="Controls.Scroller.Vertical" />

<h4>Horizontal</h4>
<p>Add the <code>Horizontal</code> property to enable horizontal scrolling.</p>
<div class="scroller-example">
    <Scroller Horizontal>
        <Stack Orientation="Orientation.Horizontal">
            <label>Example item 1</label>
            <label>Example item 2</label>
            <label>Example item 3</label>
            <label>Example item 4</label>
            <label>Example item 5</label>
        </Stack>
    </Scroller>
</div>
<Example Identifier="Controls.Scroller.Horizontal" />

<h4>Members of <code>Scroller</code></h4>
<Members Context="typeof(Scroller)" />
