@page "/controls/selector"
@using System.Collections.ObjectModel

<PageTitle>Selector</PageTitle>
<h2>Selector</h2>
<p>Enable selection by surround your code with the <code>Selector</code> component.</p>

<h4>Single selection</h4>
<p>
    Use the property <code>Selection</code> to set an <code>ICollection&lt;&gt;</code> which is then used as a backing collection.
    Use the context (renamed <code>selection</code> below) to evaluate and control selection.
</p>
<div class="selector-example single">
    <Selector Context="selection" Selection="SelectedItems">
        <Stack>
            @foreach (var item in Items)
            {
                <div class="@GetItemClass(selection.IsActive(item))" @onclick="() => selection.Activate(item)" @key="item">@item</div>
            }
        </Stack>
    </Selector>
</div>
<Example Identifier="Controls.Selector.SingleSelection" />

<h4>Multiple selection</h4>
<p>
    Add the <code>Multiple</code> property to enable multiselect.
    Both examples here are bound to the same backing collection, to optimally show the <code>Selector</code> component behavior.
</p>
<div class="selector-example multiple">
    <Selector Context="selection" Selection="SelectedItems" Multiple>
        <Stack>
            @foreach (var item in Items)
            {
                <div class="@GetItemClass(selection.IsActive(item))" @onclick="() => selection.Toggle(item)" @key="item">@item</div>
            }
        </Stack>
    </Selector>
</div>
<Example Identifier="Controls.Selector.MultipleSelection" />

<h4>Members of <code>Selector&lt;TItem&gt;</code></h4>
<Members Context="typeof(Selector<>)" />

@code {
    private string[] Items { get; } = Enumerable.Range(1, 5).Select(i => $"Example item {i}").ToArray();

    private ObservableCollection<string> SelectedItems { get; } = [];

    private static string? GetItemClass(bool active)
        => active ? "active" : null;

    protected override void OnInitialized()
    {
        SelectedItems.Add(Items[2]);
        SelectedItems.CollectionChanged += (sender, e) => StateHasChanged();
    }
}
