.selector-example > ::deep .stack {
    gap: .25rem;
}

    .selector-example > ::deep .stack > * {
        background-color: var(--md-bg);
        border-radius: .25rem;
        cursor: pointer;
        padding: .25rem .5rem;
        text-align: center;
        user-select: none;
    }

    .selector-example > ::deep .stack > .active {
        background-color: var(--md-bg-active);
        color: var(--md-fg-active);
    }

.selector-example.single > ::deep .stack > .active {
    cursor: unset;
    pointer-events: none;
}
