@page "/controls/spinner"

<PageTitle>Spinner</PageTitle>
<h2>Spinner</h2>
<p>You can use <code>Spinner</code> to show a loading indication.</p>

<h4>Example</h4>
<p>Simply use the <code>Spinner</code> component like in the example below.</p>
<div class="spinner-example">
    <Spinner />
</div>
<Example Identifier="Controls.Spinner.Example" />

<h4>Styling</h4>
<p>Use the <code>spinner</code> class to style the component.</p>
<Example Identifier="Controls.Spinner.Styling" Type="css" />

<h4>Members of <code>Spinner</code></h4>
<Members Context="typeof(Spinner)" />
