@page "/layouts/grid"

<PageTitle>Grid</PageTitle>
<h2>Grid</h2>
<p>
    Surround your markup with <code>Grid</code> to create a grid layout, with aligned columns and rows.
    All component member sections, like the one at the bottom of this page, are created using the <code>Grid</code> component.
</p>

<h4>Auto</h4>
<p>
    Encapsulate every cell with a <code>GridCell</code> component. Use the properties below to control their placement.
    Columns and rows are added automatically, all with dimension value <code>GridDimension.Auto</code>, meaning the columns and rows will be as small as possible.
</p>
<div class="grid-example auto">
    <Grid>
        <GridCell X="0" Y="0" SpanX="2">(0, 0) 2W</GridCell>
        <GridCell X="0" Y="1">(0, 1)</GridCell>
        <GridCell X="1" Y="1" SpanY="2">(1, 1) 2H</GridCell>
        <GridCell X="0" Y="2">(0, 2)</GridCell>
        <GridCell X="2" Y="0" SpanY="3">(2, 0) 3H</GridCell>
        <GridCell X="0" Y="3" SpanX="3">(0, 3) 3W</GridCell>
    </Grid>
</div>
<Example Identifier="Layouts.Grid.Auto" />

<h4>Dimensions</h4>
<p>
    If you want more the dimensions, use the <code>GridColumn</code> and <code>GridRow</code> components.
    Fill out the remaining space with the <code>GridDimension.Fill()</code> method,
    use <code>GridDimension.Exact()</code> to provide an exact size in pixels,
    or use <code>new GridDimension("1rem")</code> to use HTML sizes.
    Any missing columns or rows will be added automatically.
</p>
<div class="grid-example dimensions">
    <Grid>
        <GridColumn Width="GridDimension.Exact(sizeInPixels: 50)" />
        <GridColumn Width="GridDimension.Fill()" />

        <GridRow Height="GridDimension.Fill()" />
        <GridRow Height="GridDimension.Fill(factor: 3)" />

        <GridCell X="0" Y="0">A</GridCell>
        <GridCell X="1" Y="0">B</GridCell>
        <GridCell X="0" Y="1">C</GridCell>
        <GridCell X="1" Y="1">D</GridCell>
        <GridCell X="0" Y="2" SpanX="2">E</GridCell>
    </Grid>
</div>
<Example Identifier="Layouts.Grid.Dimensions" />

<h4>Members of <code>Grid</code></h4>
<Members Context="typeof(Grid)" />
