@page "/layouts/stack"

<PageTitle>Stack</PageTitle>
<h2>Stack</h2>
<p>Use <code>Stack</code> to stack children horizontally or vertically. Use modifiers like <code>Fill</code> to create a more complex layout.</p>

<h4>Vertical</h4>
<p>The default orientation is vertical. Just surround your markup with a <code>Stack</code> component.</p>
<div class="stack-example">
    <Stack>
        <label>Example item 1</label>
        <label>Example item 2</label>
        <label>Example item 3</label>
        <label>Example item 4</label>
        <label>Example item 5</label>
    </Stack>
</div>
<Example Identifier="Layouts.Stack.Vertical" />

<h4>Horizontal</h4>
<p>Use the <code>Orientation</code> property to set the orientation to horizontal.</p>
<div class="stack-example">
    <Stack Orientation="Orientation.Horizontal">
        <label>Example item 1</label>
        <label>Example item 2</label>
        <label>Example item 3</label>
        <label>Example item 4</label>
        <label>Example item 5</label>
    </Stack>
</div>
<Example Identifier="Layouts.Stack.Horizontal" />

<h4>Members of <code>Stack</code></h4>
<Members Context="typeof(Stack)" />
