@page "/layouts/stack"

<PageTitle>Stack</PageTitle>
<h2>Stack</h2>
<p>Uitleg</p>

<h4>Vertical</h4>
<p>Uitleg</p>
<div class="stack-example">
    <Stack>
        <label>Example item 1</label>
        <label>Example item 2</label>
        <label>Example item 3</label>
        <label>Example item 4</label>
        <label>Example item 5</label>
    </Stack>
</div>
<Example Identifier="Layouts.Stack.Vertical" />

<h4>Horizontal</h4>
<p>Uitleg</p>
<div class="stack-example">
    <Stack Orientation="Orientation.Horizontal">
        <label>Example item 1</label>
        <label>Example item 2</label>
        <label>Example item 3</label>
        <label>Example item 4</label>
        <label>Example item 5</label>
    </Stack>
</div>
<Example Identifier="Layouts.Stack.Horizontal" />
