<div class="stack @ContainerClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string ContainerClass => Casing.ToKebabCase(Orientation.ToString());
    
    [Parameter]
    public Orientation Orientation { get; set; } = Orientation.Vertical;
}
