@page "/composites/card"

<PageTitle>Card</PageTitle>
<h2>Card</h2>
<p>Use the <code>Stack</code> component to quickly create a card.</p>

<h4>Example</h4>
<p>The example below defines a header area, placed above a <code>Fill</code> component.</p>
<div class="card-example">
    <Stack>
        <h4 class="card-header">Example header</h4>
        <Fill>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </Fill>
    </Stack>
</div>
<Example Identifier="Composites.Card.Example" />

<h4>Styling</h4>
<p style="margin-bottom: 0">The styling used in the preceding example is shown below.</p>
<Example Identifier="Composites.Card.Styling" Type="css" />
