@page "/composites/carousel"

<PageTitle>Carousel</PageTitle>
<h2>Carousel</h2>
<p>TBD</p>

<h4>Example</h4>
<p>TBD</p>
<div class="carousel-example">
    <Grid>
        <GridColumn />
        <GridColumn Width="Size.Fill()" />
        <GridColumn />

        <GridCell SpanX="3">
            <div class="image" />
        </GridCell>
        <GridCell X="0">
            <button class="previous">
                <div />
            </button>
        </GridCell>
        <GridCell X="2">
            <button class="next">
                <div />
            </button>
        </GridCell>
    </Grid>
</div>
<Example Identifier="Composites.Carousel.Example" />
