@inherits LayoutComponentBase

<main class="layout-container">
    <Stack>
        <Stick Top>
            <Shadow Small>
                <header class="layout-header">
                    <h1><NavLink href="/" Match="NavLinkMatch.All">Monad</NavLink></h1>
                </header>
            </Shadow>
        </Stick>
        <Stack Orientation="Orientation.Horizontal">
            <nav class="layout-menu">
                <h2>Components</h2>

                <h4>Controls</h4>
                <dl>
                    <dt><NavLink href="/controls/editor">Editor</NavLink></dt>
                    <dt><NavLink href="/controls/popper">Popper</NavLink></dt>
                    <dt><NavLink href="/controls/scroller">Scroller</NavLink></dt>
                    <dt><NavLink href="/controls/selector">Selector</NavLink></dt>
                </dl>

                <h4>Layouts</h4>
                <dl>
                    <dt><NavLink href="/layouts/grid">Grid</NavLink></dt>
                    <dt><NavLink href="/layouts/stack">Stack</NavLink></dt>
                </dl>

                <h4>Modifiers</h4>
                <dl>
                    <dt><NavLink href="/modifiers/defer">Defer</NavLink></dt>
                    <dt><NavLink href="/modifiers/fill">Fill</NavLink></dt>
                    <dt><NavLink href="/modifiers/shadow">Shadow</NavLink></dt>
                    <dt><NavLink href="/modifiers/stick">Stick</NavLink></dt>
                </dl>
            </nav>

            <Fill>
                <div class="layout-body">
                    @Body
                </div>
            </Fill>
        </Stack>
    </Stack>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
