@inherits LayoutComponentBase

<div style="display: flex; gap: 5rem; padding: .5rem 1rem">
    <nav style="flex-shrink: 0">
        <h1>Monad</h1>
        <dl>
            <dt><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></dt>
        </dl>

        <h3>Components</h3>
        <dl>
            <dt><NavLink href="/components/combobox">ComboBox</NavLink></dt>
            <dt><NavLink href="/components/input">Input</NavLink></dt>
        </dl>

        <h3>Layout</h3>
        <dl>
            <dt><NavLink href="/layout/grid">Grid</NavLink></dt>
            <dt><NavLink href="/layout/stack">Stack</NavLink></dt>
        </dl>
    </nav>

    <main style="flex-grow: 1">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
