@inherits LayoutComponentBase

<div style="padding: .5rem 1rem">
    <nav>
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/components/combobox">ComboBox</NavLink>
        <NavLink href="/components/input">Input</NavLink>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
