<DataGrid ItemsProvider="ItemsProvider" OverscanCount="5" Virtualize>
    <DataGridExpressionColumn Value="item => item.Id">
        <Placeholder>
            <span>...</span>
        </Placeholder>
    </DataGridExpressionColumn>
    @* omitted other columns because they're the same as in the example above *@
</DataGrid>

@code {
    private ItemsProviderDelegate<Item> ItemsProvider => async request =>
    {
        await Task.Delay(100);
        var items = Enumerable.Range(request.StartIndex + 1, request.Count).Select(id => new Item(id));
        return new(items, totalItemCount: 1_000);
    };
}