.bar-chart {
    align-items: end;
    display: flex;
    justify-content: space-between;
}

    .bar-chart > .bar {
        user-select: none;
        width: 100%;
    }

        .bar-chart > .bar > .bar-value {
            opacity: 0;
        }
