::deep .collapser {
    transition: grid-template-rows .25s ease-in-out;
}

    ::deep .collapser .collapser-content {
        padding: .5rem .25rem;
    }

.expander {
    width: 20rem;
}

    .expander > .expander-header {
        border-radius: .25rem;
        cursor: pointer;
        font-weight: 500;
        padding: .25rem .5rem;
        transition: background-color, color .1s ease-in-out;
        user-select: none;
        width: 100%;
    }

        .expander > .expander-header ::deep .stack {
            align-items: center;
        }

        .expander > .expander-header .expander-toggle {
            height: 1.2rem;
            transition: transform .2s ease-in-out;
            width: 1.2rem;
        }

        .expander > .expander-header.active .expander-toggle {
            transform: rotate(-180deg);
        }
