.chart-header {
    font-weight: 500;
    margin: .5rem 0;
    text-align: center;
}

::deep .stack {
    gap: .5rem;
}

::deep .bar-chart {
    background-color: var(--md-bg);
    border-radius: .25rem;
    gap: 1rem;
    height: 20rem;
    padding: 1rem;
}

    ::deep .bar-chart.show-titles {
        padding-bottom: 1.5rem;
    }

    ::deep .bar-chart > .bar {
        animation: grow .5s ease-out forwards;
        background-color: var(--md-fg);
        border-radius: .25rem;
        color: var(--md-bg);
        padding: .25rem .5rem;
        transition: height .5s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
    }

    ::deep .bar-chart.selectable > .bar {
        cursor: pointer;
    }

        ::deep .bar-chart.selectable > .bar:not(.active):hover {
            background-color: var(--md-button-bg);
            color: var(--md-button-fg);
        }

        ::deep .bar-chart.selectable > .bar.active {
            background-color: var(--md-button-active-bg);
            color: var(--md-button-active-fg);
            cursor: unset;
        }

    ::deep .bar-chart.show-titles > .bar > .bar-title {
        animation: appear .4s ease-out forwards;
        animation-delay: .4s;
        color: var(--md-fg);
        margin-bottom: -1.3em;
    }

    ::deep .bar-chart.show-values > .bar > .bar-value {
        animation: appear .4s ease-out forwards;
        animation-delay: .1s;
    }

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        transform: scaleX(.5) scaleY(0);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}
