@page "/charts/barchart"

<PageTitle>BarChart</PageTitle>
<h2>BarChart</h2>
<p>TBD</p>

<h4>Example</h4>
<p>TBD</p>
<div class="bar-chart-example">
    <Stack>
        <Fill>
            <Stack Orientation="Orientation.Horizontal">
                <Fill>
                    <h5 class="chart-header">Basic</h5>
                    <BarChart Items="Items" ItemValue="item => item.Value" />
                </Fill>
                <Fill>
                    <h5 class="chart-header">With selection, titles &amp; visible values</h5>
                    <Selector Selection="SelectedItems">
                        <BarChart Items="Items" ItemTitle="item => item.Id.ToString()" ItemValue="item => item.Value" ShowTitles ShowValues />
                    </Selector>
                </Fill>
            </Stack>
        </Fill>
        <button @onclick="MixUpValues">Mix up values</button>
    </Stack>
</div>
<Example Identifier="Charts.BarChart.Example" />

<h4>Styling</h4>
<p style="margin-bottom: 0">Use the following CSS classes. The styling properties below are used in the preceding examples.</p>
<Example Identifier="Charts.BarChart.Styling" Type="css" />

<h4>Members of <code>BarChart&lt;TItem&gt;</code></h4>
<Members Context="typeof(BarChart<>)" />

@code {
    private Item[] Items { get; set; } = new int[] { 50, 25, 100, 150, 200, 75 }.Select((v, i) => new Item(i + 1, v)).ToArray();

    private List<Item> SelectedItems { get; } = [];

    private void MixUpValues()
    {
        foreach (var item in Items)
        {
            item.Value = Random.Shared.Next(25, 200);
        }
    }

    protected override void OnInitialized()
        => SelectedItems.Add(Items[3]);

    private sealed class Item(int id, int value)
    {
        public int Id { get; } = id;

        public int Value { get; set; } = value;
    }
}
