@page "/charts/linechart"

<PageTitle>LineChart</PageTitle>
<h2>LineChart <small style="opacity: .6; padding-left: .5rem">Incomplete</small></h2>
<p>TBD</p>

<h4>Example</h4>
<p>TBD</p>
<div class="line-chart-example">
</div>
<Example Identifier="Charts.LineChart.Example" />

<h4>Styling</h4>
<p style="margin-bottom: 0">Use the following CSS classes. The styling properties below are used in the preceding examples.</p>
<Example Identifier="Charts.LineChart.Styling" Type="css" />

<h4>Members of <code>LineChart</code></h4>
<Members Context="typeof(LineChart)" />

@code {
}
