.chart-header {
    font-weight: 500;
    margin: .5rem 0;
    text-align: center;
}

::deep .stack {
    gap: .5rem;
}

::deep .pie-chart {
    background-color: var(--md-bg);
    border-radius: .25rem;
    height: 20rem;
    padding: 2rem;
}

    ::deep .pie-chart > .pie > .pie-slice {
        animation: appear .8s ease-out forwards;
        transition: all .1s ease-out;
    }

        ::deep .pie-chart > .pie > .pie-slice.active,
        ::deep .pie-chart > .pie > .pie-slice:hover {
            transform: rotate(calc(var(--offset-percentage) * 1turn)) scale(1.1);
            z-index: 1;
        }

        ::deep .pie-chart > .pie > .pie-slice.active {
            background-color: var(--md-button-active-bg) !important;
            cursor: unset;
        }

    ::deep .pie-chart > .pie.selectable > .pie-slice:not(.active) {
        cursor: pointer;
    }

@keyframes appear {
    from {
        --offset-percentage: 0;
        --value-percentage: 0;
    }
}
