@page "/charts/piechart"

<PageTitle>PieChart</PageTitle>
<h2>PieChart</h2>
<p>TBD</p>

<h4>Example</h4>
<p>TBD</p>
<div class="pie-chart-example">
</div>
<Example Identifier="Charts.PieChart.Example" />

<h4>Styling</h4>
<p style="margin-bottom: 0">Use the following CSS classes. The styling properties below are used in the preceding examples.</p>
<Example Identifier="Charts.PieChart.Styling" Type="css" />

<h4>Members of <code>PieChart</code></h4>
<Members Context="typeof(PieChart)" />

@code {
}
