@page "/tools/binder"

<PageTitle>Binder</PageTitle>
<h2>Binder</h2>
<p>
    The types <code>IBinder</code> and <code>Bindable&lt;TComponent,TValue&gt;</code> allow you to bind multiple properties to your components at once.
    The binding logic is segregated so your component logic can stay nice and clean.
</p>

<h4>Example</h4>
<p style="margin-bottom: 0">Use <code>IBinder</code> and <code>Bindable&lt;TComponent,TValue&gt;</code> as shown below.</p>
<Example Identifier="Tools.Binder.Example" Type="cs" />

<h4>Members of <code>IBinder</code></h4>
<Members Context="typeof(IBinder)" />

<h4>Members of <code>Binding&lt;TComponent,TValue&gt;</code></h4>
<Members Context="typeof(Binding<,>)" />

<h4>Members of <code>Bindable&lt;TComponent&gt;</code></h4>
<Members Context="typeof(Bindable<>)" />
