@page "/tools/classlist"

<PageTitle>ClassList</PageTitle>
<h2>ClassList</h2>
<p>Use <code>ClassList</code> in your code to easily define (conditional) CSS classes.</p>

<h4>Example</h4>
<p style="margin-bottom: 0">Use <code>ClassList</code> as shown below. Note that there's an automatic conversion to <code>string</code>.</p>
<Example Identifier="Tools.ClassList.Example" Type="cs" />

<h4>Members of <code>ClassList</code></h4>
<Members Context="typeof(ClassList)" />
