@page "/tools/command"

<PageTitle>Command</PageTitle>
<h2>Command</h2>
<p>The <code>Command</code> type allows you to combine an execution delegate with can execute control in one (bindable) type.</p>

<h4>Example</h4>
<p style="margin-bottom: 0">Use <code>Command</code> as shown below.</p>
<Example Identifier="Tools.Command.Example" Type="cs" />

<h4>Members of <code>Command</code></h4>
<Members Context="typeof(Command)" />
