@page "/tools/command"

<PageTitle>Command</PageTitle>
<h2>Command</h2>
<p>TBD</p>

<h4>Example</h4>
<p>TBD</p>
<div class="command-example">
</div>
<Example Identifier="Tools.Command.Example" Type="cs" />

<h4>Members of <code>Command</code></h4>
<Members Context="typeof(Command)" />
