@page "/typography/heading"

<PageTitle>Heading</PageTitle>

<h3>Heading</h3>
<h1 style="padding-bottom: .3rem">Heading h1</h1>
<h2 style="padding-bottom: .3rem">Heading h2</h2>
<h3 style="padding-bottom: .3rem">Heading h3</h3>
<h4 style="padding-bottom: .3rem">Heading h4</h4>
<h5 style="padding-bottom: .3rem">Heading h5</h5>
<h6 style="padding-bottom: .3rem">Heading h6</h6>
