@page "/typography/misc"

<PageTitle>Miscellaneous</PageTitle>

<h3>Miscellaneous</h3>
<dl>
    <dt style="padding-bottom: .3rem"><a href="https://localhost:7246/">Anchor</a></dt>
    <dt style="padding-bottom: .3rem"><em>Emphasis</em></dt>
    <dt style="padding-bottom: .3rem"><small>Small</small></dt>
    <dt style="padding-bottom: .3rem"><strong>Strong</strong></dt>
    <dt style="padding-bottom: .3rem"><u>Underline</u></dt>
</dl>
