.page-examples ::deep .grid {
    gap: .5rem;
}

    .page-examples ::deep .grid > * {
        overflow-x: hidden;
    }

.page-examples ::deep .chart {
    height: 12rem;
}

    .page-examples ::deep .chart > .chart-entity {
        animation: appear 1s ease-in-out forwards;
        background-color: var(--md-active-bg);
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(1) {
        background-color: lightcoral;
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(2) {
        background-color: olive;
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(3) {
        background-color: chocolate;
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(4) {
        background-color: cornflowerblue;
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(5) {
        background-color: goldenrod;
    }

    .page-examples ::deep .chart.pie > .chart-entity:nth-child(6) {
        background-color: limegreen;
    }

@keyframes appear {
    from {
        --offset: 0;
        --prev-value: 0;
        --value: 0;
    }
}
