.page-examples ::deep .grid {
    gap: .5rem;
}

    .page-examples ::deep .grid > * {
        overflow-x: hidden;
    }

.page-examples ::deep .gauge {
    --color: var(--md-active-bg-rgb);
    height: 12rem;
}

    .page-examples ::deep .gauge > .gauge-entity {
        animation: appear 1s ease-in-out forwards;
        transition: all .5s ease-in-out;
    }

@keyframes appear {
    from {
        --value: 0;
    }
}
