<div class="shadow @ContainerClass">
    @ChildContent
</div>

@code {
    private string ContainerClass => ClassList.Create("small", Small);

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Small { get; set; }
}
