<div class="shadow @ContainerClass">
    @ChildContent
</div>

@code {
    private string ContainerClass => ClassList.Create("small", Small);

    [Parameter, EditorRequired, Description("Content to be rendered.")]
    public required RenderFragment ChildContent { get; set; }

    [Parameter, Description("Shadow is smaller when true.")]
    public bool Small { get; set; }
}
