<div class="stick @ContainerClass">
    @ChildContent
</div>

@code {
    [Parameter, Description("Stick to parent's bottom when true.")]
    public bool Bottom { get; set; }

    [Parameter, EditorRequired, Description("Content to be rendered.")]
    public required RenderFragment ChildContent { get; set; }

    private string ContainerClass => ClassList.Create("top", Top)
                                              .Add("bottom", Bottom);

    [Parameter, Description("Stick to parent's top when true.")]
    public bool Top { get; set; }
}
