<div class="stick @ContainerClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Bottom { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    private string ContainerClass => ClassList.Create("top", Top)
                                              .Add("bottom", Bottom);

    [Parameter]
    public bool Top { get; set; }
}
