.example {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

    .example > .example-content,
    .example > .example-resource {
        background-color: var(--md-section-bg);
        color: var(--md-section-fg);
    }

    .example > .example-content {
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        font-size: 90%;
        gap: .5rem;
        padding: .5rem;
    }

    .example > .example-resource {
        border-left: .25rem solid var(--md-section-border);
        border-radius: .25rem;
        padding: .25rem .5rem;
    }

        .example > .example-resource > * {
            overflow-x: hidden;
            white-space: pre-wrap;
        }
