.example {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

    .example > .example-content {
        background-color: var(--md-section-bg);
        border-radius: .25rem;
        color: var(--md-section-fg);
        display: flex;
        flex-direction: column;
        font-size: 90%;
        gap: .5rem;
        padding: .5rem;
    }
