@typeparam TItem

@if (Multiple)
{
    <select multiple @bind="SelectionValue" @bind:after="UpdateSelection">
        @foreach (var item in Items)
        {
            <option @key="item">@ItemValue(item)</option>
        }
    </select>
}
else
{
    <select @bind="CurrentItemValue" @bind:after="UpdateSelection">
        @foreach (var item in Items)
        {
            <option @key="item">@ItemValue(item)</option>
        }
    </select>
}
