<CascadingValue Value="this" IsFixed="true">
    @ChildContent
    <Defer>
        <div class="grid" style="@GetGridStyle()">
            @foreach (var cell in Cells)
            {
                <div style="@GetCellStyle(cell)">
                    @cell.ChildContent
                </div>
            }
        </div>
    </Defer>
</CascadingValue>
