<CascadingValue Value="this" IsFixed="true">
    @ChildContent
    <Defer>
        <div class="grid" @attributes="GetGridAttributes()">
            @foreach (var cell in Cells)
            {
                <div @attributes="@GetCellAttributes(cell)">
                    @cell.ChildContent
                </div>
            }
        </div>
    </Defer>
</CascadingValue>
