<div class="stack" style="@GetStackStyle()">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public StackOrientation Orientation { get; set; } = StackOrientation.Vertical;

    private string GetStackStyle()
        => $"flex-direction: {(Orientation == StackOrientation.Horizontal ? "row" : "column")}";
}
